@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>IT School Portal</h2>
    <p>Register yourself and enroll to your preferred courses in Antwerp or Ghent!</p>
</div>